body{
  min-height: 100%;
  width: 100%;

}
 .blog-sidebar{
  background-color: #4a8187;
  height: 800px;

}
h2 {
  color: #fcfbef;
}
li {
  color: #e59462;
}
input {
  color: #e56419;
}
ul , h2, input{
    margin: 2% ;
}
.map-area{
  width: 100%;
  height: 800px;

}
